
h1 {
  font: Lora-Regular;
  font-size: 38.4 px;
  font-color: #272727;
}

h2 {
  font: Lora-Regular;
  font-size: 28 px;
  font-color: #000000;
}

h3 {
  font: Lora-Regular;
  font-size: 28 px;
  font-color: #232323;
}

h4 {
  font: Lora-Regular;
  font-size: 19.8 px;
  font-color: #272727;
}

h5 {
  font: Lora-Regular;
  font-size: 16.8 px;
  font-color: #FFFFFF;
}

h6 {
  font: Lora-Regular;
  font-size: 16.8 px;
  font-color: #232323;
}

p {

}

.titleContainer {
  height: 15%;
  width:100%;
  color: white;
  border-bottom: 3px;
  border-color: #EEEDED;
}

.mainContentContainer {
  height: 70%;
  width:100%;
  color: white;
}

.submitButtons {
  height:
  width:
}

.initialViewImage {
  height:
  width:
}

.footer {
  height: 15%;
  width:100%;
  margin: 10px;
  color: white;
  border-top: 3 px;
  border-color: #D7D7D7;
}

.searchButtonContainer{
  height:
  width:
}

.searchButtonContainer2 {
  height:
  width:
  background-color: #74FDF2;
  font-color: #D7D7D7;
}
